body,
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  color: aliceblue;
  font-family: Roboto;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "sup state live"
    "sup state live"
    "sd state live"
    "sd finish live";
}
.btn {
  border: white solid 1px;
  background-color: brown;
  text-align: center;
  align-self: center;
}
#btnSUP {
  grid-area: sup;
}
#btnSDOWN {
  grid-area: sd;
}

#btnFinish {
  grid-area: finish;
  background-color: green;
}

.state {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 10%;
  grid-area: state;
  border: gray solid 4px;
}

.live {
  border: white solid 1px;
  background-color: gray;
  grid-area: live;
  margin: 4%;
}

#videoElement {
  background-color: lightgrey;
  height: 54rem;
}
.heading {
  color: aqua;
}
